@charset "UTF-8";
/*!
 * Repainted
 * Copyright Zdeněk Papučík
 * MIT License
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700);

$font-family-base: Open Sans;
$headings-font-family: Open Sans;

//repainted
$color-primary: #1795f8;
$color-secondary: #929292;
$color-success: #4bc25c;
$color-danger: #ff3e59;
$color-warning: #ffd965;
$color-info: #0acdd4;
$color-light: #e9e9e9;
$color-dark: #545454;

// add repainted theme
$theme-colors: (
        'primary': $color-primary,
        'secondary': $color-secondary,
        'success': $color-success,
        'danger': $color-danger,
        'warning': $color-warning,
        'info': $color-info,
        'light': $color-light,
        'dark': $color-dark
);

// re-settings
$border-radius: 0.1875rem;
$input-btn-focus-width: 0;

$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: -10;
$alert-padding-x: 1rem;
$alert-padding-y: 0.56rem;

$btn-padding-y: 0.26rem;

$theme-color-interval: 10%;
$headings-color: #4e4e4e;

  // bootstrap complete (comment if you only want some components)
@import '../node_modules/bootstrap/scss/bootstrap';

.alert-light {
  color: darken($color-light, 45);;
}

.alert-warning {
  color: darken($color-warning, 45);
}
